<div class="alert-header" rel="tooltip" data-placement="bottom" data-title="{{unbound message}}">
    <div class="alert-category">
        <strong>{{unbound title}}</strong><i id="category-arrow"></i>
    </div>
    <div class="alert-message-content">
        <span>{{unbound message}}</span>
    </div>
    <div class="alert-close">
        <span><i class="habitat-icon-close" rel="close"></i></span>
    </div>
</div>