<form class="form-inline editableform">
    <div class="control-group">
        <div class="editable-input">
            {{view Em.TextField valueBinding="view.editableValue" nameBinding="view.fieldName" classNames="input-mini" }}
        </div>
        <div class="editable-buttons">
            <button type="submit" class="editable-submit" {{action save target="view"}}>
                <i class="habitat-icon-check"></i>
            </button>
            <button type="button" class="editable-cancel" {{action cancel target="view"}}>
                <i class="habitat-icon-cancel"></i>
            </button>
        </div>
    </div>
</form>